@tailwind base;
@tailwind components;
@tailwind utilities;

.react-multiple-carousel__arrow {
    z-index: 999 !important; /* กำหนด z-index ให้อยู่ต่ำกว่า z-index ของ Navigation (1000) */
  }
  html {
    scroll-behavior: smooth;
  }

  .next-arrow {
  position: absolute; /* ทำให้สามารถกำหนดตำแหน่งได้อย่างอิสระ */
  bottom: 0; /* ชิดขอบด้านล่างของ container */
  right: 10px; /* กำหนดระยะห่างจากขอบขวา (ปรับได้ตามต้องการ) */
  /* ... สไตล์อื่นๆ เช่น สี, ขนาด, ฯลฯ ... */
}